<div class="cont">
    <div class="form">
        <h1>Inicio sesión</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <input type="text" class="user" formControlName="username" placeholder="Usuario">
            <app-error-messages [control]="loginForm.get('username')" [customErrors]="usernameErrorsMessages">
            </app-error-messages>
            <input type="password" class="pass"formControlName="password" placeholder="Contraseña">
            <app-error-messages [control]="loginForm.get('password')" [customErrors]="usernameErrorsMessages">
            </app-error-messages>
            <button  class="login" type="submit" [disabled]="!loginForm.valid">Iniciar</button>

        </form>

        <p>Si no eres usuario , registrate antes <a [routerLink]="['signUp']">aquí</a></p>
    </div>
</div>