*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  body{ background: #3598dc; }
  
  .cont{
    padding: 20px;
    border: solid 1px #bbacc1;
    position: relative;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    width: 25%;
    height: 400px;
    padding: 10px 25px;
    margin: 10vh auto;
    background: #fff;
    border-radius: 8px;
  }
  
  .form{ width: 100%; height: 100%; }
  
  h1, h2, .user, .pass{ 
    text-align: center;
    display: block;
  }
  
  h1 { 
    color: #606060;
    font-weight: bold;
    font-size: 300px;
    margin: 18px auto;
  }
  
  .user, .pass, .login{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  
  .user, .pass{ background: #ecf0f1; }
  
  .login{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: #3598dc;
    /* transition: background 0.4s ease; */
  }
  
  .login:hover{ background: #3570dc; }
  
  @media only screen and (min-width : 280px) {
    .cont{ width: 90% }
  }
  
  @media only screen and (min-width : 480px) {
    .cont{ width: 60% }
  }
  
  @media only screen and (min-width : 768px) {
    .cont{ width: 40% }
  }
  
  @media only screen and (min-width : 992px) {
    .cont{ width: 30% }
  }
  
  h2{ color: #fff; margin-top: 25px; }

  /* .card {
    padding: 20px;
    border: solid 1px #bbacc1;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    /* box-shadow: 0 2px 3px rgba(10, 10, 10 .1), 0 0 0 1px  rgba(10, 10, 10 .1); */
    /* color: black; */
    /* max-width: 90% ;
    position: relative;
    border-radius: 1.5rem; */
  /* } */ 