<ul style="list-style:none">
    <li *ngFor="let post of (postList$ | async)">
        <div>
            <my-card [titulo]="post.title"  [nickName]="post.nickName" [text]="post.text"
                (enlace)="navegarHacia(post._id)">
                <div slot="intruso">
                    <a [routerLink]="['post/', post._id]">LEER MÁS >></a>
                </div>
            </my-card>
        </div>
        <br>
    </li>

</ul>

<router-outlet></router-outlet>
