div h1 {
    text-align: center;
}

.center {
    text-align: center;
}
.my-button {
    display: flex;
    justify-content: center;
}
.my-button-volver {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}