<div>
    <p-panel>
        <p-header>
            <div>
                <h1><strong>{{(postById$ |async)?.title | uppercase}}</strong></h1>
            </div>
        </p-header>
        <h2>de <i> {{(postById$ |async)?.author}}</i></h2>
        <h4>{{(postById$ |async)?.createdAt  | date : 'dd-MM-yyyy'}}</h4>
        <p>{{(postById$ |async)?.text}}</p>
        <br>
        <p-footer>
            <div class="my-button">
                <button pButton type="button" label=" Añade un comentario" icon="pi pi-comment"
                    class="ui-button-rounded ui-button-secondary" (click)="ShowdisplayModalComent()"></button>
            </div>
            <router-outlet></router-outlet>
        </p-footer>
    </p-panel>
    <p-table [value]="(postById$ |async).comments">
        <ng-template pTemplate="header">
            <tr>
                <th>Apodo</th>
                <th>Texto</th>
                <th>Fecha</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detailPost>
            <tr>
                <td class="center">{{detailPost.nickName | uppercase}}</td>
                <td>{{detailPost.comment}}</td>
                <td class="center">{{detailPost.createdAt| date: 'dd/MM/yyyy'}}</td>
                <td>
                    <div class="my-button">
                        <button pButton type="button" icon="pi pi-refresh" class="ui-button-rounded ui-button-info"
                            (click)="ShowdisplayModalModifyComment(detailPost)"></button>
                    </div>
                </td>
                <td>
                    <div class="my-button">
                        <button pButton type="button" icon="pi pi-trash" class="ui-button-rounded ui-button-danger"
                            (click)="deleteItemComment(detailPost)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-footer>
    <div class="my-button-volver " >
        <button pButton type="button"  label=" Volver" icon="pi pi-step-backward-alt" class="ui-button-rounded ui-button-info"
            [routerLink]="['/BackOffice']"></button>
        </div>
    </p-footer>
</div>
<!-- Comunicación entre el padre(post-detail ) y los hijos de(create-comment y modify-comment) -->
<app-back-office-create-comment [entrada]="displayModalComent" [idInput]="idExit"
    (salida)="showCloseCreateCommnet($event)"></app-back-office-create-comment>
<app-back-office-modify-comment [entrada]="displayModalModifyComment" [inputModify]="commentToModify"
    (salida)="showCloseModifyComment($event)"></app-back-office-modify-comment>