<p-dialog header="Crear entrada Post" [(visible)]="entrada" [modal]="true" [style]="{width: '60vw'}"
    [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">

    <form [formGroup]="createPost">
        <div class="form">
                    <input id="float-input" type="text" size="30" pInputText formControlName="author" placeholder="Autor">
            <br>
                    <input id="float-input" type="text" size="30" pInputText formControlName="nickName" placeholder="Apodo">
            <br>
                    <input id="float-input" type="text" size="30" pInputText formControlName="title" placeholder="Titulo">
            <br>
                    <!-- <textarea id="float-input" type="text" size="30" pInputText formControlName="text" placeholder="Texto"> -->
                        <textarea id="float-input" type="text"[rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="text" placeholder="Texto"></textarea>
        </div>
        <br>

    </form>
    <br>
    <p-footer>
        <div class="separated">
            <button pButton type="button"  label="Cerrar" 
                class="ui-button-rounded ui-button-success" (click)="showCloseThisModal()"></button>
            <button pButton type="button" label="Crear un post" icon="pi pi-check"
                class="ui-button-rounded ui-button-info" (click)="newPost()"></button>
        </div>
    </p-footer>

</p-dialog>

<!-- <a [routerLink]="['/BackOffice']">VOLVER >></a> -->
<!-- <button pButton type="button" label="VOLVER" icon="pi pi-step-backward-alt" 
class="ui-button-rounded ui-button-success" (click)="backClicked()"></button> -->