.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input, textarea {
    width: 400px;
    text-align: center;
}

.separated {
    display: flex;
    justify-content: space-evenly;
    
}