.cont{
    padding: 15px;
    border: solid 1px black;
    position: relative;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    width: 30%;
    height: 470px;
    padding: 10px 25px;
    margin: 10vh auto;
    background: #fff;
    border-radius: 8px;
  }
  
  .form{ width: 100%; height: 100%; }
  
  h1, p, .user, .pass{ 
    text-align: center;
    display: block;
  }
  
  h1{ 
    color: #606060;
    font-weight: bold;
    font-size: 30px;
    margin: 30px auto;
  }
  
  .user, .pass, .login{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  
  .user, .pass{ background: #ecf0f1; }
  
  .login{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: #6bab90;
    /* transition: background 0.4s ease; */
  }
  
  .login:hover{ background: #ff934f; }
  
  @media only screen and (min-width : 280px) {
    .cont{ width: 90% }
  }
  
  @media only screen and (min-width : 480px) {
    .cont{ width: 60% }
  }
  
  @media only screen and (min-width : 768px) {
    .cont{ width: 40% }
  }
  
  @media only screen and (min-width : 992px) {
    .cont{ width: 30% }
  }
  
  /* h2{ color: #fff; margin-top: 25px; } */