<div class="cont">
    <div class="form">
        <h1>Registrarse</h1>
        <form [formGroup]="signUpForm">

            <input type="text" class="user" formControlName="user" placeholder="Usuario">
            <app-error-messages [control]="signUpForm.get('username')" [customErrors]="signUpErrorsMessages">
            </app-error-messages>
            <input type="password" class="pass" formControlName="passwordHash" placeholder="Contraseña">
            <app-error-messages [control]="signUpForm.get('password')" [customErrors]="signUpErrorsMessages">
            </app-error-messages>
            <select type="text" class="user" formControlName="role" placeholder="Usuario">
                <option value="publisher">Editor</option>
                <option value="admin">Administrador</option>
             <app-error-messages [control]="signUpForm.get('role')" [customErrors]="signUpErrorsMessages">
            </app-error-messages>
            </select>
            <button class="login" (click)="signUp()" [disabled]="!signUpForm.valid">Registrar</button>
        </form>
        <p>Para volver a inicio de sesión pulsa <a [routerLink]="['/access-main']">aquí</a></p>
    </div>
</div>