<p-dialog header="ModificarPost" [(visible)]="entrada" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <form [formGroup]="modifyPost">
        <div class="form">
        <br>
        <br>
        <label for="float-input">Autor</label>
            <input value={{dataPost?.title}} id="float-input" type="text" size="30" pInputText formControlName="author" placeholder="Autor">
            <app-error-messages [control]="modifyPost.get('author')"
            [customErrors]="modifyErrorsMessages"></app-error-messages>  
        <br>
        <label for="float-input">Apodo</label>
            <input value={{dataPost?.nickName}} id="float-input" type="text" size="30" pInputText formControlName="nickName" placeholfer="Apodo">
            <app-error-messages [control]="modifyPost.get('nickName')"
            [customErrors]="modifyErrorsMessages"></app-error-messages> 
        <br>
        <label for="float-input">Titulo</label>
            <input value={{dataPost?.title}} id="float-input" type="text" size="30" pInputText formControlName="title" placeholder="Titulo">
            <app-error-messages [control]="modifyPost.get('title')"
            [customErrors]="modifyErrorsMessages"></app-error-messages> 
        <br>
        <label for="float-input">Texto</label>
        <!-- <textarea value={{dataPost?.text}}id="float-input" type="text"[rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="text" placeholder="Texto"></textarea> -->
            <input value={{dataPost?.text}} id="float-input" type="text" size="30" pInputText formControlName="text" placeholder="Texto">
            <app-error-messages [control]="modifyPost.get('text')"
            [customErrors]="modifyErrorsMessages"></app-error-messages> 
       
        <br>
    </div>
    </form>
    <br>
    <p-footer>
        <div class="separated">
        <button pButton type="button"  label="Cerrar" 
            class="ui-button-rounded ui-button-success" (click)="showCloseThisModal()"></button>
        <button pButton type="button" label="Modificar" icon="pi pi-check" class="ui-button-rounded ui-button-info"
            type="submit" (click)="modify(dataPost?._id)"></button>
        </div>
    </p-footer>
</p-dialog>
