*{
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

*{
  margin: 0;
  padding: 0;
}

nav {
  float: left; 
  background-color: #6bab90;
  position: fixed;
  display: flex;
  width: 100%;
  height: 90px;
  top: 0px;
  left: 0px;
  right: 0px;


}

.blog {
  color: #fff;
  flex: 1;
  font-size: 40px;
  padding: 20px;
  text-transform: uppercase;
}

.menu {
  flex: 3
}

.menu ul {
  display: flex;
  list-style: none;
  margin-top: 30px;
  flex-flow: row wrap;

}

.menu li {
  flex: 1;
  text-align: center;
}

.menu a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;

}
