<my-layoutflexbox>
    <div slot="nav">
        <nav class="top-bar">
            <div class="blog">Blog</div>
            <div class="menu">
                <ul>
                    <li class="active size"><a [routerLink]="['home-main']">Home</a></li>
                    <li><a [routerLink]="['access-main']">Inicia sesión</a></li>
                    <li><a [routerLink]="['BackOffice']">Añade un Post</a></li>
                    <li class="right"><a (click)="logout()" [routerLink]="['home-main']">Logout</a></li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
    <div slot="section">
        <p-messages [(value)]="msgs"></p-messages>
        <router-outlet></router-outlet>
    </div>
    <div slot="footer">
        <!-- <p>este es el footer</p> -->
    </div>

</my-layoutflexbox>