<div class="container">
<p-panel>
    <p-header>
        <div>
            <h1><u>Esto son los POST dentro del BackOffice </u></h1>
        </div>
    </p-header>
    <p-footer>
        <div class="my-button">
            <button type="button" (click)="showCreatePost()" pButton icon="pi pi-user-edit" label="Crear Post"
                class="ui-button-rounded ui-button-success"></button>
        </div>
    </p-footer>
</p-panel>
<!-- Tabla de Post en la App -->
<p-table [value]="(postList$ | async)">
    <ng-template pTemplate="header">
        <tr>
            <th>Apodo</th>
            <th>Titulo</th>
            <th>Texto</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entryPost let-ri="rowIndex">
        <tr>
            <td class="center"><strong>{{entryPost.nickName}}</strong></td>
            <td>{{entryPost.title | uppercase }}</td>
            <td>{{entryPost.text}}<a [routerLink]="['detail/', entryPost._id]">LEER MÁS >></a></td>
            <td>
                <div class="my-button">
                    <button pButton type="button" icon="pi pi-refresh" class="ui-button-rounded ui-button-info"
                        (click)="showModifyPost(entryPost)"></button>
                </div>
            </td>
            <td>
                <div class="my-button">
                    <button pButton type="button" icon="pi pi-trash" class="ui-button-rounded ui-button-danger"
                        (click)="deleteItemPost(entryPost)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>

<!-- Este son los envios del padre(app-back-office-post) a los hijos (app-back-office-post-modify) y (app-back-office-create-post) -->
<app-back-office-create-post [entrada]="displayModal"
(salida)="showCloseCreatePost($event)"></app-back-office-create-post>
<app-back-office-post-modify [entrada]="displayModalModify" 
       [dataPost]="postToModify"(salida)="showCloseModifyPost($event)">
    </app-back-office-post-modify> 


<router-outlet></router-outlet>