.separated {
    display: flex;
    justify-content: space-evenly;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input {
    
    text-align: center;
}