<p-dialog header="Modificar un Comentario" [(visible)]="entrada" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <form [formGroup]="modifyComment">
        <div class="form">
            <br>
            <br>
            <span class="ui-float-label">
                <input value={{inputModify?.nickName}} id="float-input" type="text" size="30" pInputText
                    formControlName="nickName">
                <app-error-messages [control]="modifyComment.get('nickName')"
                    [customErrors]="modifyCommentErrorsMessages"></app-error-messages>
                <label for="float-input">Apodo</label>
            </span>
            <br>
            <br>
            <span class="ui-float-label">
                <input value={{inputModify?.comment}} id="float-input" type="text" size="30" pInputText
                    formControlName="comment">
                <app-error-messages [control]="modifyComment.get('comment')"
                    [customErrors]="modifyCommentErrorsMessages"></app-error-messages>
                <label for="float-input">Comentario</label>
            </span>
            <br>
        </div>
    </form>
    <p-footer>
        <div class="separated">
            <button pButton type="button" label="Cerrar" pi-sign-out class="ui-button-rounded ui-button-success"
                (click)="showCloseThisModal()"></button>
            <button pButton type="button" label="Modificar" icon="pi pi-check" class="ui-button-rounded ui-button-info"
                type="submit" (click)="modify(inputModify?._id)"></button>
        </div>
    </p-footer>
</p-dialog>