.card {
  padding: 20px;
  border: solid 1px #bbacc1;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
  /* box-shadow: 0 2px 3px rgba(10, 10, 10 .1), 0 0 0 1px  rgba(10, 10, 10 .1); */
  color: black;
  max-width: 90% ;
  position: relative;
  border-radius: 1.5rem;
}
    
.card-content {
  padding: 1.5 rem;
}

.card-full-Title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
