<h1><u><strong>Detalles</strong></u></h1>
<div >
    <div *ngIf="(postById$ |async)?.comments.length>0; then withoutComments else withComments"></div>
    <!-- Entrada de post con comentarios  -->
    <ng-template #withComments>
    <div>
        <my-postdetail [titulo]="(postById$ |async)?.title" [nickName]="(postById$ |async)?.author"
            [date]="(postById$ |async)?.createdAt  | date : 'dd-MM-yyyy'" [text]="(postById$ |async)?.text">
        </my-postdetail>
    </div>
    <br>
    <h2>Esta entrada no tiene ningún comentario , se el primero en comentar esta entrada , dirigite a añade un comentario</h2>
    <br>
    <div class="route">
        <a [routerLink]="['home-main']">VOLVER >></a>
    </div>
</ng-template>
<!-- Entrada de post sin comentarios  -->
<ng-template #withoutComments>
    <div>
        <my-postdetail [titulo]="(postById$ |async)?.title" [nickName]="(postById$ |async)?.author"
            [date]="(postById$ |async)?.createdAt  | date : 'dd-MM-yyyy'" [text]="(postById$ |async)?.text">
        </my-postdetail>
    </div>
    <br>
    <h2><u>Comentarios</u></h2>
    <div *ngFor="let comment of (postById$ |async)?.comments">
        <ul style="list-style:none">
            <my-card-detail [nickName]="comment?.nickName" [text]="comment?.comment"
                [date]="comment?.createdAt | date: 'dd/MM/yyyy'"></my-card-detail>
        </ul>
        <br>
    </div>
    <div class="route">
        <a [routerLink]="['home-main']">VOLVER >></a>
    </div>
</ng-template>
</div>