a {
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 7px;
    width: 15%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: #6bab90;
  }
  a:hover{ 
      background: #38a754;
      color: #fff;
     }

  .route {
      margin: 20px;
      display: flex;
      justify-content: center;
  }

  h1, h2 {
      
      text-align: center
      ;
  }
   
  h1 {
    font-size: 40px;
  }