.box {
    
    color: red; 
    margin: auto;
    background: white; 
    list-style: none; 
    width: 100%;
    /* height: 10px; */
    flex: auto;
    justify-content: center;
    align-items: center;
    
}