<div class="async-pending" *ngIf="control.pending">
    Comprobando...
</div>
<div *ngIf="errorMessage !== null">
    <ul>
        <div class="box">
            <li >{{errorMessage}}</li>
        </div>

    </ul>
</div>