<p-dialog header="Crear un Comentario" [(visible)]="entrada" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <form [formGroup]="createComment">
        <div class="form">
        <br>
        <br>
            <input id="float-input" type="text" size="30" pInputText formControlName="nickName" placeholder="Apodo">
            <app-error-messages [control]="createComment.get('nickName')"
            [customErrors]="commentErrorMessages"></app-error-messages> 
        <br>
        <br>
            <input id="float-input" type="text" size="30" pInputText formControlName="comment" placeholder="Comentario">
            <app-error-messages [control]="createComment.get('comment')"
            [customErrors]="commentErrorMessages"></app-error-messages> 
        <br>
        <br>
    </div>
    </form>
    <p-footer>
        <div class="separated">
            <button pButton type="button" label="Cerrar" pi-sign-out class="ui-button-rounded ui-button-success"
                (click)="showCloseThisModal()"></button>
            <button pButton type="button" label="Crear" icon="pi pi-check" class="ui-button-rounded ui-button-info"
                type="submit" (click)="newComment()"></button>
        </div>
    </p-footer>
</p-dialog>
