main {
  /* gainsboro; */
  /* color: white; */
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px
    50px
    1fr
   100px
   200px;
 grid-template-areas:
   "my-nav my-nav my-nav"
   "my-section my-section my-section"
   "my-footer my-footer my-footer"
}

nav {
  background: #6bab90;
  top:0;
  width: 100%;
  height: 100px;
  color: white;
  grid-area: my-nav;
 /* background-color: #6bab90 */
}

section {
  color: black;
  grid-area: my-section;
  background-color: #FFFFFF;
}






@media (min-width: 600px) and (max-width: 1000px) {
main {
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 150px
    100px
    1fr
    100px;
  grid-template-areas:
    "my-nav my-nav my-nav"
    "my-section my-section my-section"
    "my-footer my-footer my-footer"}
}

@media (min-width: 1001px) {
 main {
          grid-template-columns: 200px 1fr 200px;
          grid-template-rows: 200px
            1fr
            100px;
         grid-template-areas:
         "my-nav my-nav my-nav"
         "my-section my-section my-section"
         "my-footer my-footer my-footer"
}
} 
